.inner {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.settings {
  display: inline-block;
  text-align: center;
}

.left_column {
   float:left;
   display: inline-block;
   margin: 10px;
}
.right_column {
   float:left;
   margin: 10px;
}