.div_src_inp {
  float:left;
  clear:left;
}

input.src_inp {
  width: 20px;
}

.inner {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.settings {
  display: inline-block;
  text-align: center;
}

.columns {
   margin: 0 auto;
   width: 600px;
}

.left_column {
   float:left;
   display: inline-block;
   margin: 10px;
}
.right_column {
   float:left;
   margin: 10px;
}

#end {
  clear: both;
}