.div_period_input {
  float:right;
  clear:right;
}

input.period_input {
  width: 30px;
}

.div_phase_input {
  float:right;
  clear:right;
}

input.phase_input {
  width: 30px;
}

.inner {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#settings {
  display: inline-block;
  text-align: center;
}

#columns {
  margin: 0 auto;
  display: inline-block;
}

#canvas_column {
  float:left;
  margin: 10px;
  width: 75%;
  display: inline-block;
}

#periods_column {
  text-align:right;
  margin: 10px;
  display: inline-block;
}

#phases_column {
  text-align:right;
  margin: 10px;
  display: inline-block;
}